.header {
	background-color: #1b1b1b;
	box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.28);
	display: flex;
	height: 77px;
	justify-content: space-between;
	h1 {
		color: #ffffff;
		font-size: 30px;
		margin: 0;
		padding: 20px 0 19px 26px;
		width: 120px;
		@include respond-to(max-width, 480px){
			padding-left: 5px;		
		}			
	}
	nav {

	}
}

.nav {
	display: flex;
	padding: 14px 10px 16px 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav-item {	
	height: 47px;
	margin-left: 3px;
	width: 132px;
	a {
		border-radius: 23.5px;
		color: #ffffff;
		height: 100%;
		padding: 13px 21px;
		text-align: center;
		width: 100%;
		&.active {
			background-color: #ff7800;
		}
		@include respond-to(max-width, 480px){
			padding: 13px 10px;
		}

	}
	@include respond-to(max-width, 480px){
		width: auto;	
	}	
}