/******************************************
*		Roomfy Main! Stylesheet		
*******************************************/
.header {
  background-color: #1b1b1b;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.28);
  display: flex;
  height: 77px;
  justify-content: space-between; }
  .header h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    padding: 20px 0 19px 26px;
    width: 120px; }

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 14px 10px 16px 0; }

.nav-item {
  height: 47px;
  margin-left: 3px;
  width: 132px; }
  .nav-item a {
    color: #ffffff;
    display: block;
    height: 100%;
    padding: 13px 21px;
    text-align: center;
    text-decoration: none;
    width: 100%; }
    .nav-item a.active {
      border-radius: 23.5px;
      background-color: #ff7800; }

@font-face {
  font-family: circular-std-book;
  src: url(../../common_files/fonts/CircularStd-Book.otf); }

@font-face {
  font-family: circular-std-book;
  src: url(../../common_files/fonts/CircularStd-Bold.otf);
  font-weight: bold; }

@font-face {
  font-family: circular-std-book;
  src: url(../../common_files/fonts/CircularStd-BookItalic.otf);
  font-style: italic; }

* {
  box-sizing: border-box; }

body {
  font-family: circular-std-book, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0; }

div, section {
  margin: 0;
  padding: 0; }

.m-head {
  background-color: #ff7800; }
  .m-head p {
    color: #ffffff;
    margin: 0;
    padding: 9px 0 6px 0;
    text-align: center; }

.form {
  background: url(../img/images/bg-search.z.png) no-repeat;
  background-size: contain;
  height: 851px;
  position: relative;
  width: auto; }
  .form h2 {
    color: #ffffff;
    font-size: 60px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 80px;
    transform: translate(-50%);
    width: 511px; }
  .form div {
    display: flex;
    left: 50%;
    position: absolute;
    top: 280px;
    transform: translate(-50%); }
    .form div input {
      border: solid 1px #c6c6c6;
      border-radius: 100px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      font-size: 24px;
      padding: 18px 0 17px 40px; }
      .form div input::placeholder {
        color: #434343;
        opacity: 0.35; }
    .form div #search {
      margin-right: 22px;
      width: 477px; }
    .form div #choice {
      padding-right: 10px;
      position: relative;
      width: 252px; }
      .form div #choice::-webkit-calendar-picker-indicator {
        opacity: 0; }
      .form div #choice::placeholder:after {
        content: "q"; }
