/******************************************
*		Roomfy Main! Stylesheet		
*******************************************/
//Color values
$brandColor: #EC1B24;
$darkTextColor: #474343;
$lightTextColor: #FFFFFF;
$btnBgrColor: #EBEBEB;

@mixin respond-to($val, $query) {
	@media ($val: $query) {
		@content
	}
}


//********************************************
//	Fonts
//********************************************
@font-face { 
	font-family: circular-std-book;
	src: url("../../common_files/fonts/CircularStd-Book.otf");
}

@font-face {
  	font-family: circular-std-book;
	src: url("../../common_files/fonts/CircularStd-Bold.otf");
  	font-weight: bold;    
}

@font-face {
  	font-family: circular-std-book;
	src: url("../../common_files/fonts/CircularStd-BookItalic.otf");
  	font-style: italic;    
}


//********************************************
//	Base Elements
//********************************************
* {box-sizing: border-box;}

html, body {
	font-family: circular-std-book, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 525px;
	padding: 0;
}

div, section, figure {
	margin: 0;
	padding: 0;	
}

ul.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		a{
			display: block;
			height: 100%;	
			text-decoration: none;		
		}
	}
}

//********************************************
//	Header
//********************************************
@import 'header';

//********************************************
//	Main
//********************************************
.m-head {
	background-color: #ff7800;
	p {
		color: #ffffff;
		margin: 0;
		padding: 9px 0 6px 0;
		text-align: center;
	}
}

//******************
//	Section.form
//******************
.form {
	position: relative;
	width: auto;
	figure {
		picture {
			display: block;	
			img{
				display: block;
				width: 100%;
			}
		}
	}
	h2 {
		color: #ffffff;
		font-size: 60px;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 60px;
		transform: translate(-50%);
		width: 511px;
		@include respond-to(max-width, 800px){
			font-size: 40px;
			top: 20px;
			width: auto;	
		}	
		@include respond-to(max-width, 700px){
			top: 0px;
			width: 80%;	
		}
		@include respond-to(max-width, 550px){
			font-size: 32px;
			margin: 10px 0;	
		}			
	}
	&>div {
		display: flex;
		left: 50%;	
		position: absolute;
		top: 281px;
		transform: translate(-50%);
		div {
			position: relative;
			input {
				border: solid 1px #c6c6c6;
				border-radius: 100px;
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
				font-size: 24px;
				padding: 18px 0 17px 30px;
				&::placeholder {
					color: #434343;
					opacity: 0.35;
				}
				@include respond-to(max-width, 550px){
					padding: 8px 0 8px 30px;	
				}
				@include respond-to(max-width, 360px){
					padding: 4px 0 4px 30px;	
				}			
			}
		}
		@include respond-to(max-width, 800px){
			flex-wrap: wrap;
			justify-content: center;
			top: 200px;		
		}
		@include respond-to(max-width, 700px){
			top: 150px;		
		}
		@include respond-to(max-width, 480px){
			top: 100px;		
		}			
	}
}

.search {	
	&::before {
		background: url(../img/icons/search-icon.z.svg) no-repeat; 
		background-size: contain;	
		content: " ";  
		height: 30px;
		left: 26px;
		opacity: 0.24;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);	
		width: 30px;	
	}
	@include respond-to(max-width, 800px){
		margin-bottom: 20px;				
	}
	@include respond-to(max-width, 550px){
		margin-bottom: 10px;			
	}	
}

.choice {
	button {
		background:  url(../img/icons/arrow.z.svg) no-repeat;
		background-size: contain;
		border: none;
		cursor: pointer;
		height: 9px;
		outline: none;
		position: absolute;
		right: 27px;
		top: 50%;
		transform: translateY(-50%);
		width: 19px;
	}

}

#search {
	margin-right: 22px;
	padding-left: 75px;
	width: 477px;
	@include respond-to(max-width, 800px){
		margin-right: 0;
		width: auto;				
	}	
	@include respond-to(max-width, 380px){
		margin-right: 0;
		width: 320px;				
	}		
}

#choice {
	padding-right: 46px; 
	position: relative; 
	width: 252px;
	&::-webkit-calendar-picker-indicator {
	  opacity: 1;
	}
	&::placeholder {
		&:after {
			content: "q";
		}
	}
}

//********************
//	Section.screenshots
//********************
.screenshots {
	color: #ffffff;
	display: flex;
	@include respond-to(max-width, 1050px){
		flex-wrap: wrap;			
	}	
	div {
		flex-basis: 50%;
		height: 502px;
		overflow: hidden;
		@include respond-to(max-width, 1050px){
			flex-basis: 100%;			
		}
		@include respond-to(max-width, 680px){
			height: auto;			
		}
		h2 {
			font-size: 36px;
			text-align: center;
		}
		p{
			font-size: 27px;
			text-align: center;
		}
		figure {	
			picture{
				display: block;		
				img {
					display: block;
					left: 50%;
					height: auto;
					position: relative;
					transform: translateX(-50%);
					width: 82%;
					@include respond-to(max-width, 680px){
						width: 98%;			
					}
				}
			}
		}
	}
}

.shot1 {
  background-image: linear-gradient(194deg, #fb6161, #f76b1c);
}

.shot2 {
	 background-image: linear-gradient(38deg, #fbda61, #f76b1c);
}

//******************
//	Section.cities
//******************
.cities {
	background-color: #fbfbfb;
	padding: 0 61px 96px 61px;
//	height: 725px;
	header {
		display: flex;
		flex-wrap: wrap;
		padding: 61px 0;
		@include respond-to(max-width, 1055px){
			justify-content: center;
		}	
		h2 {
			color: #434343;
			font-size: 36px;
			font-weight: bold;
			padding-right: 54px;
			@include respond-to(max-width, 1055px){
				padding: 0;
			}
		}
		nav {
			.nav-item {	
				height: 47px;
				margin-left: 19px;
				width: auto;
				a {
					border-radius: 100px;
					background-color: #ffffff;
					border: 1px solid #dbdde0;
					color: #6e6e6e;
					padding: 13px 20px;
				//	text-align: center;
				//	width: 100%;
					&.active {
						background-color: #0d97dc;
						color: #ffffff;
					}
					@include respond-to(max-width, 480px){
						padding: 13px 10px;
					}

				}
				@include respond-to(max-width, 480px){
					width: auto;	
				}	
			}
		}
	}
}

//*************************
//	Touch Box
//**************************
.touch-box {
	height: 442px;
	margin: 0 ;
	position: relative;
}

//---------------------------
//	Touch Buttons: Prev, Next
//---------------------------
.prev, .next{
	background: transparent;
	color: #434343;
	cursor: pointer;
	font-size: 50px;
	opacity: 0.3;
	position: absolute;
	text-decoration: none;
	top: 30%;
	z-index: 1;
	&.is-active{
		opacity: 0.8;
	}	
	&:hover, &:active, &:focus{
		opacity: 1;
	}
}

.prev {
	right: -50px;	
}

.next{
	left: -10px;
}

//---------------------------
//	Touch List
//---------------------------
.touch-list {
	height: 100%;
	list-style-type: none;
	padding: 0px;
//	position: relative;
}

.touch-list-item {
	border-radius: 30px;
	box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
	height: 442px;
	overflow: hidden;
	margin: 0;
	position: relative;
	width: 366px;
	figure.main-img {
		picture {
			display: block;
			img {
				display: block;
				height: 272px;
				width: 366px;
			}
		}
		figcaption {
			color: #434343;
			padding: 10px 22px 0 27px;
			
			h3{
				margin: 10px 0;
			}
			p {
				background-color: transparent;
				margin: 0;
			}
			div {
				bottom: 20px;
				position: absolute;
				&::after {
					background: url(../img/icons/opened-door-icon.svg) no-repeat; 
					background-size: contain;	
					content: " ";
					bottom: -10px;  
					height: 40px;				
					opacity: 0.8;
					position: absolute;
					right: -275px;				
					width: 35px;	
				}
			}
		}
	}
	figure.avatar {

	}
}


//******************
//	Section.articles
//******************
.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	h2 {
		color: #0d97dc;
		flex-basis: 100%;
		font-size: 36px;
  		font-weight: 500;
  		margin: 63px 0 20px 0;
		text-align: center;
		@include respond-to(max-width, 830px){
			margin: 40px 0 20px 0;			
		}		
	}
	article {
		flex-basis: 403px;
		padding: 20px 0;
		@include respond-to(max-width, 830px){
			padding: 0;			
		}
		h3 {
			text-align: center;
		}
		p {
			color: #6e6e6e;
			font-size: 20px;
			text-align: center;
		}
	}
	div.btn {
		flex-basis: 100%;
		margin: 60px 0;
		@include respond-to(max-width, 830px){
			margin: 40px 0;		
		}
		button {
			background-color: #ff7800;
			border: none;
			border-radius: 71px;
			color: #ffffff;
			font-size: 36px;
			font-weight: bold;
			left: 50%;
			outline: none;
			padding: 19px 40px 23px 40px;
			position: relative;
			text-align: center;
			transform: translateX(-50%);
			&:hover {
				background-color: #0d97dc;
			}
			@include respond-to(max-width, 830px){
				font-size: 24px;	
			}

		}
	}
}

//********************************************
//	Footer
//********************************************
@import 'footer';
