/******************************************
*		Roomfy Main! Stylesheet		
*******************************************/
//Color values
$brandColor: #EC1B24;
$darkTextColor: #474343;
$lightTextColor: #FFFFFF;
$btnBgrColor: #EBEBEB;

@mixin respond-to($val, $query) {
	@media ($val: $query) {
		@content
	}
}

//********************************************
//	Imports 
//********************************************
@import 'header';

//********************************************
//	Fonts
//********************************************
@font-face {
    font-family: circular-std-book;
    src: url(../../common_files/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: circular-std-book;
	src: url(../../common_files/fonts/CircularStd-Bold.otf);
  font-weight: bold;    
}

@font-face {
  font-family: circular-std-book;
	src: url(../../common_files/fonts/CircularStd-BookItalic.otf);
  font-weight: italic;    
}


//********************************************
//	Base Elements
//********************************************
* {box-sizing: border-box;}

body {
	font-family: circular-std-book, sans-serif;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0;
}

//********************************************
//	Main
//********************************************
.m-head {

}

.form {

}

.cities {

}

.articles {
	
}