.footer {
	border-top: 1px solid #dbdde0;
	display: flex;
	justify-content: space-around;
	padding-top: 26px;
	@include respond-to(max-width, 1000px){
		flex-wrap: wrap;	
	}	
	div {
		flex-basis: 272px;
		padding: 60px 0;
		@include respond-to(max-width, 1000px){
			flex-basis: 30%;
			padding: 10px 0;	
		}
		@include respond-to(max-width, 620px){
			flex-basis: 95%;	
		}			
		h3 {
			color: #434343;
			font-size: 24px;
			opacity: 0.8;
		}
		p {
			color: #6e6e6e;
			font-size: 20px;
			opacity: 0.6;
		}
		ul li a {
			color: #6e6e6e;
			font-size: 20px;
			line-height: 200%;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}
	div.roomfy {
		flex-basis: 461px;
		h2 {
			color: #434343;
			font-size: 36px;
			opacity: 0.6;
		}
		@include respond-to(max-width, 1000px){
			flex-basis: 95%;	
		}
	}
	div.reach-out {
		ul.socials {
			display: flex;
			margin-top: 30px;
			li {
				margin-right: 30px;
				a {
					background-color: #d8d8d8;	
					border-radius: 2px;
					height: 31px;
					opacity: 0.6;
					padding-right: 10px;
					width: 31px;
					&:hover {
						opacity: 1;
					}		  
				}
			}
		}
	}
}