// screensot slide up
@keyframes slideUp {
	0% { transform: translateY(0px);	}
	100% { transform: translateY(-400px); }
}

.js-slide-up {
	position: relative;
	top: 400px;
}
.js-slide-up.active{
	animation: slideUp .8s 0s ease forwards;
}

// dropdown-menu slide down
/*
@keyframes heightSlideDown {
	0% { height: 0;	}
	100% { height: 180px; }
}
.js-dropdown {
	height: 0;
}
.js-dropdown.active {
	animation: heightSlideDown .8s 0s ease forwards;
}
*/