// screensot slide up
@keyframes slideUp {
	0% { transform: translateY(0px);	}
	100% { transform: translateY(-400px); }
}

.js-slide-up {
	position: relative;
	top: 400px;
}
.js-slide-up.active{
	animation: slideUp .8s 0s ease forwards;
}